<h1>Reverse String</h1>
<p>Enter a string to reverse it</p>
<form action="/display" method="post" accept-charset="utf-8">
<input type="text" name="post[string]" value="Type a string to reverse" id="string" /><br />
<input type="submit" value="Reverse">
</form>
